<li id="comment-<%= comment._id %>">
    <p>
      
        <%= comment.user.name%> 
       
        <br>
        <small>
            <%= comment.content%>
        </small>
        <!-- display the likes of the posts,If the user is logged in then show the link to toggle likes, else.. just show the no. of likes -->
        <br>
        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%= comment._id%>&type=Comment">
                    <i class="fas fa-thumbs-up"></i><%= comment.likes.length %>Likes
                </a>
            <% } else { %>
                <%= comment.likes.length %>Likes
            <% } %>
        </small>
        &nbsp;
        <% if(locals.user && locals.user.id == post.user.id ) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id%>">Delete</a>
            </small>
        <% } %>
    </p>
</li>
