<li class="post" id="post-<%= post._id%>">
    <p class="partition">
        <% if(locals.user && locals.user.id == post.user.id) { %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id%>">Delete</a>
            </small>
        <% } %>
        <br>
        <%= post.user.name %>
        <br>
        <small>
            <%= post.content %>
        </small>
        <!-- display the likes of the posts,If the user is logged in then show the link to toggle likes, else.. just show the no. of likes -->
        <br>
        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post._id%>&type=Post">
                    <i class="fas fa-thumbs-up"></i><%= post.likes.length %>Likes
                </a>
            <% } else { %>
                <%= post.likes.length %>Likes
            <% } %> 
        </small>
    </p>
    <div id="post-<%= post._id%>-comment-list">
        <ul >
            <% for(comment of post.comments){ %>
                <%- include('_comment') -%>
            <% } %>
            <div id="post-comments">
                <% if(locals.user) { %>
                    <form action="/comments/newcomment" id="post-<%= post._id%>-comment-form"method="post">
                        <input type="text" name="content" placeholder="Type here to comment.." required>
                        <input type="hidden" name="hidden_id" value="<%= post._id%>">
                        <input type="submit" value="Add Comment">
                    </form>
                <% } %>
            </div>
        </ul>
    </div> 
</li>