<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/chatbox.css">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0691d296c8.js" crossorigin="anonymous"></script>
        <title>
            <%= title %>
        </title>
    </head>
     <body>
        <div id="content">
            <section id="others">

            </section>
            <section id="feed-posts">
                <% if(locals.user) {%>
                    <div id="new-post">
                        <form action="/posts/newpost" id="new-post-form" method="POST">
                            <textarea name="content" cols="30" rows="3" placeholder="What's on your mind,<%= user.name%>?" required></textarea>
                            <input id="post-submit" type="submit" value="Post">
                        </form>
                    </div>
                <% } %>
                <h2>Posts</h2>
                <div id="posts-list-container">
                    <ul>
                        <% for(post of posts){ %>
                             <!-- included code of post and comment section -->
                            <%- include('_post') -%>
                        <% } %>
                    </ul>
                </div>
            </section>
            <section id="users-list">
                <h2 id="users-title">Users</h2>
                <% for(user of all_users){ %>
                    <p>
                        <a id="users" href="/users/profile/<%= user.id%>"><%= user.name%></a> 
                    </p>
                <% } %>
                <section id="friends-list">
                    <h2 id="friends-title">Friends</h2>
    
                </section>    
            </section>
            <%- include('_chatbox') -%>

        </div>
        <script src="/js/home_comments.js"></script>
        <script src="/js/home_posts.js"></script>
       
        <!-- import the script file for toggle likes, also ru it over for the already present posts and comments on the page -->
        <script src="js/toggle_likes.js"></script>
        <script>
            $('.toggle-like-button').each(function(){
                let self = this;
                let toggleLike = new ToggleLike(self);
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
        <script src="/js/chat_engine.js"></script>

        <% if(locals.user) { %> 
            <script>
                new ChatEngine('user-chat-box','<%= locals.user.email %>')
                
            </script>
        <% } %>
    </body>
</html>