<link rel="stylesheet" href="/css/user_profile.css">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">

<h1>
    ConnectUs/Profile Page
</h1>



<% if(user.id == profile_user.id){ %>
    <!-- if the user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required>
        <input type="submit" value="Update">
    
    </form>
<% }else{ %>
<!-- else show only the profile info -->
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<% } %>