<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/0691d296c8.js" crossorigin="anonymous"></script>


<div id="dp">
    <img id="display" src="<%= profile_user.avatar %>" alt="<%= user.name %>">
    <p id="username"><%= profile_user.name %></p>
    <p id="email"><%= profile_user.email %></p>
</div>



<% if(user.id == profile_user.id){ %>
    <!-- if the user matches then show the form -->
    <form id="info" action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <div>
            <i id="update-icons" class="fas fa-user-circle"></i><input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
        </div>
        <div>
            <i id="update-icons" class="fas fa-at"></i><input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required>
        </div>
        <div>
            <i id="update-icons" class="fas fa-camera"></i><input type="file" name="avatar" placeholder="Profile Picture">
        </div>
        <div>
            <i id="update-icons" class="fas fa-user-edit"></i><input type="submit" value="Update">
        </div>
    </form>
<% }else{ %>
<!-- else show only the profile info -->
    <div id="info">
        <div id="a">
            <i id="update-icons" class="fas fa-user-circle"></i><p id="others-wall"><%= profile_user.name%></p>
        </div>
        <div id="a">
            <i id="update-icons" class="fas fa-at"></i><p id="others-wall"><%= profile_user.email%></p>
        </div>
        <% if (check == true ){%>
        <a id="add-friend" href="/toggle/friendship/?from=<%= locals.user._id%>&to=<%= profile_user._id%>">Remove Friend<i class="fas fa-user-plus"></i></a>
        <%} else{%>
            <a id="add-friend" href="/toggle/friendship/?from=<%= locals.user._id%>&to=<%= profile_user._id%>">Add Friend<i class="fas fa-user-plus"></i></a>
            <%}%>  
    </div>
<% } %>

<div id="posts-list-container">
    <ul class="posts-list-container">

        <% for(post of posts){ %>
            <!-- included code of post and comment section -->
            <%- include('_post') -%>
        <% } %>
    </ul>
</div>
<script src="<%= assetPath('js/home_comments.js') %>" type="text/javascript"></script>
<script src="<%= assetPath('js/home_posts.js') %>" type="text/javascript"></script>
<script src="<%= assetPath('js/toggle_likes.js') %>" type="text/javascript"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>